.singlePost{
    flex: 9;
}
.singlepostimg{
    height: 300px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostWrapper{
    padding: 20px;
    padding-right: 0px;
}
.singlePostTitle{
    text-align: center;
    font-family: 'lora', serif;
    font-size: 28px;
}
.singlePostEdit{
    float:right;
    font-size: 16px;
}
.singlePostIcon{
    margin-left: 20px;
   cursor: pointer;
}

.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 16px;
    color:#b39656 ;
    font-family: 'varela Round', sans-serif;
}
.singlePostDesc{
    color:#666 ;
    font-size:18px;
    line-height: 25px;
}
.singlePostDesc::first-letter{
font-size: 30px;
margin-left: 20px;
font-weight: 600;
}