.landing{
    position: relative;
    z-index: -1;
    
}
.learn_more_btn{
    position: absolute;
    bottom: 60px;
    padding: 10px 20px;
    text-transform: uppercase;
    margin:0% 45%;
    color: #fff;
    background-color: #32CD32;
    border-radius: 5px;
    border: none;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 10%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}
.title{
    position: absolute;
    bottom: 120px;
   margin:0% 37%;
   color: #fff;
   background-color: black;
}

.landing_img{
    height: 450px;
    width: 100%;
    border: 1px solid #32CD32;
    object-fit: cover;
}