.HeaderLink{
    text-decoration: none;
    color: #fff;
}

.header{
display: flex;
align-items: center;
background-color:#551a8b;
color: whitesmoke;
height: 80px;
padding: 10px 30px 0px 30px;

}
.left_header{
    flex: 6;
    display: flex;
    align-items: center;
    font-size: 20px;
    
}
.shdf{
    border-right: 2px solid white;
    padding-right: 10px;
    cursor: pointer;
    
}
.for_sustainability{
    padding-left:10px ;
}
.right_header{
    flex: 6;
}
.press{
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    padding: 7px 20px;
    font-weight: bold;
    cursor: pointer;
    
 }
 .donate{
    background-color: white;
    color: #e34e09;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    word-wrap: break-word;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 10%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
 }