


.whatwedoPost{
    flex: 9;
}
.whatwedopostimg{
    height: 500px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.body{
   padding: 150px;
   padding-top: 0;
    
}
.whatwedoPostTitle{
    text-align: center;
    font-family: 'lora', serif;
    font-size: 28px;
}



.whatwedoPostDesc{
    color:#666 ;
    font-size:20px;
    line-height: 25px;
    
}
.whatwedoPostDesc::first-letter{
font-size: 30px;
margin-left: 20px;
font-weight: 600;
}


.videobox{
   
    border-radius: 10px;
   
    padding: 50px 230px;
    padding-bottom: 0px;
    
    border: none;
}
.mission-vision{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    background-color: #f1f1f1;
    
}
.mission{
    flex: 6;
    padding: 40px 50px 10px 150px;
    
    
}
.vision{
    flex: 6;
    padding: 40px 50px 10px 150px;
    

}